@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.listitem-container {
  background: #24273D;
  transition: 0.2s ease-in-out;
  animation-name: slide;
  animation-duration: 0.5s;
}

.listitem-container:hover {
  background: #343859;
  transition: 0.2s ease-in-out;
}

.listitem-container:not(:last-child) {
  border-bottom: 1px solid rgba(166,169,209,0.15);
} 

.listitem-container:hover .material-icons {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

/* .listitem-container:first-child {
  border-radius: 10px 10px 0 0;
} */

.complete-todo {
  width: 18px;
  height: 18px;
  background: #171723;
  transition: 0.2s ease-in-out;
}

.complete-todo span {
  transform: scale(0.95);
}

.complete-todo:hover {
  background: #4078ED;
  transition: 0.2s ease-in-out;
}

.listitem-container:last-child {
  border-radius: 0 0 10px 10px;
}

.listitem-container .material-icons {
  opacity: 0;
  transition: 0.2s ease-in-out;
  color: #A6A9D1;
}