@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.listitem-container {
  background: #24273D;
  transition: 0.2s ease-in-out;
  animation-name: slide;
  animation-duration: 0.5s;
}

.listitem-container:hover {
  background: #343859;
  transition: 0.2s ease-in-out;
}

.listitem-container:not(:last-child) {
  border-bottom: 1px solid rgba(166,169,209,0.15);
} 

.listitem-container:hover .material-icons {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.complete-todo span {
  transition: 0.2s ease-in-out;
}

.complete-todo span:hover {
  color: green;
  transition: 0.2s ease-in-out;
}

.listitem-container:last-child {
  border-radius: 0 0 10px 10px;
}

.listitem-container .item-actions,
.complete-todo span {
  opacity: 0;
  transition: 0.2s ease-in-out;
  color: #A6A9D1;
}

.listitem-container .item-actions:hover {
  color: #fff;
  transition: 0.2s ease-in-out;
}

.edit-text:focus {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.edit-date {
  font-size: 12px;
}

.edit-date::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-left: -15px;
  opacity: 0.6;
  transition: 0.2s ease-in-out;
  filter: invert(0.8);
}

.edit-date::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}