.list-container {
  position: relative;
  background: #24273D;
  border-radius: 10px;
}

.list-container .scroll-container {
  border-radius: 0 0 10px 10px;
}

.list-container .scroll-container::-webkit-scrollbar {
  display: none;
}