.header-container {
  height: 300px;
  background-position: center;
  background-size: cover;
}

.nav-header a {
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.nav-header a:hover {
  color: #DDDBF1;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.selected {
  color: #4078ED;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}